@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
    font-family: 'Roboto', sans-serif ;
}

:root{
    --bg-header-color: #1F2937;
    --bg-quote-color: #e5e7eb;
    --txt-main-color:#f9faf8;
    --txt-secondary-color: #bdc0c4;
    --txt-info-color: #1F2937;
    --btn-bg-color: #3882f6;
}


header{
	background-color: var(--bg-header-color);
	padding-inline: 16rem;
}

.navigation{
	display: flex;
	justify-content: space-between;
	color: var(--txt-main-color);
	padding: 2rem;
}

.navigation ul{
	display: flex;
	gap: 1em;
	
}

.navigation a{
	text-decoration: none;
	color: var(--txt-main-color);
}

.navigation p{
	font-size: 24px;
	font-weight: bold;
}

.header-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem;
	
}

.header-container img{
	width: 50%;
	height: 400px;
	border-radius: 3px;
	
}

.content-container{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: left;
	width: 40%;
}

.content-container h1{
	color: var(--txt-main-color);
	font-size: 48px;
	font-weight: 900;
}

.content-container p{
	color: var(--txt-secondary-color);
	font-size: 18px;
}

.btn{
	all: unset;
	color: var(--txt-main-color);
	font-weight: bold;
	background-color: var(--btn-bg-color);
	height: 30px;
	width: 110px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}